*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type='date'] {
  text-transform: uppercase;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.slick-slider img {
  max-width: 25rem;
}

.slick-slide div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev:before,
.slick-next:before {
  color: #9c27b0;
}
